html {
	background-image: url("images/background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
	
   Preserve aspet ratio 
  min-width: 100%;
  min-height: 100%;
}

.draggable { 
	width: 150px;
	height: 150px;
	padding: 0.5em;
}
