#froakie {
	background: url('../../images/froakie-matt.png') no-repeat;
	background-size: contain; 
	width: 475px;
	height: 500px;
	position: absolute;
	left: 100px;
	bottom: -500px;

	&.appear {
		@include transition(all 1s ease-in-out 0);
		bottom: 10px;
	}

	&.frogadier {
		background: url('../../images/frogadier.png') no-repeat;
		@include transition(background 3s ease-in-out 0);
		bottom: 10px;
		background-size:contain;
	}

	&.greninja {
		background: url('../../images/greninja.png') no-repeat;
		@include transition(background 3s ease-in-out 0);
		bottom: 10px;
		background-size:contain;
	}
}

@-webkit-keyframes blink {
	0% { color: red; }
	20% { color: yellow; }
	40% { color: magenta; }
	50% { color: green; }
	80% { color: cyan; }
	100% { color: orange; }
}

#message {
	visibility: hidden;
	font-family: 'Fredoka One', cursive;
	font-size:-webkit-xxx-large;
	position: fixed;
	top: 25%px;
	left:50%;
	margin-top: -50px;
	margin-left: -100px;
	-webkit-animation: blink 5s linear infinite;
}

.pokepuff {
	width: 50px;
	height: auto;
}

#pokepuffs {
	position: absolute;
	width: 50%;
	right: 0;
	bottom: 0;

	.pokepuff {
		position: absolute;
		right: 0;
		bottom: 0;
	}
	
	#pp1 {
		right: (50px * 6) + 100px;
		bottom: (50px * 2) + 200px;
	}
	#pp2 {
		right: (50px * 5) + 50px;
		bottom: (50px * 2) + 200px;
	}
	#pp3 {
		right: (50px * 4);
		bottom: (50px * 2) + 200px;
	}
	#pp4 {
		right: (50px * 6) + 100px;
		bottom: (50px * 2) + 75px;
	}
	#pp5 {
		right: (50px * 5) + 50px;
		bottom: (50px * 2) + 75px;
	}
	#pp6 {
		right: (50px * 4);
		bottom: (50px * 2) + 75px;
	}
}









